body{
    background-color: rgb(240, 195, 209);
    font-family: sans-serif;
}
div > h2 {
    display: inline-block;
    font-size: 1em;
    box-shadow: 0px 6px 30px 5px palevioletred;
}

div > p{
    font-size: 1em;
}

@media (min-width:600px){
    div > h2{
        font-size: 2em;
    }
    div > p{
        font-size: 2em;
    }
}
